/* BestiaryDetails.css */
.bestiary-details {
  flex: 1;
  background: #382616;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  max-height: 80vh;
  animation: slideIn 0.3s ease;
  border: 2px solid #be7b1c;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.details-image {
  width: 100%;
  height: 300px; /* Altura fixa para consistência */
  object-fit: cover; /* Mantém proporção e preenche o espaço */
  border-radius: 8px;
  margin-bottom: 15px;
}

.details-name {
  font-family: "Cinzel";
  font-size: 1.8rem;
  color: #ffd369;
  margin-bottom: 10px;
}

.details-section {
  font-size: 1.2rem;
  color: #FFA220;
  margin-top: 10px;
  margin-bottom: 5px;
}

.details-description {
  color: #ccc;
  margin-bottom: 15px;
}

.details-info p {
  margin: 5px 0;
  color: #eee;
}

.details-image-placeholder {
  width: 100%;
  height: 300px;
  background: #291d11;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #b1b1b1;
  border: 2px dashed #444;
}

.details-image-placeholder span {
  font-size: 4rem;
  margin-bottom: 15px;
}

.details-image-placeholder p {
  font-size: 1rem;
  margin: 0 0 5px 0;
}

.details-image-placeholder small {
  font-size: 0.8rem;
  color: #a1a1a1;
  margin: 0;
}
