/* Cards Section */
.cards-section {
  padding: 40px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #DAA520;
  gap: 20px;    
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #E6CFAF;
  font-family: "Cinzel";
  margin: 0;
}

.map-image{
  background: url(../../assets/general/map.png) no-repeat;
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-position: center;
  background-size: cover;
  border: 1px solid #DAA520;
  border-radius: 8px;
}

.bestiary-image{
  background: url(../../assets/general/bestiary.png);
  width: 100%;
  max-width: 400px;
  height: 300px;
  background-position: center;
  background-size: cover;
  border: 1px solid #DAA520;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .cards-section {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  
  .map-image,
  .bestiary-image {
    max-width: 100%;
    height: 250px;
  }
}


