/* Faixa de transição visual entre hero e corpo */
.first-background-transition{
  background-color: transparent;
  height: 0;
  width: 100%;
}

.first-transition {
  filter: brightness(80%);
  width: 100%;
  height: 155px;
  display: block;
  position: relative;
  z-index: 10;
  margin-top: -45px;
}