.WhatsappButton{
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 20px rgba(37, 211, 102, 0.4);
  z-index: 9;
  text-decoration: none;
  overflow: hidden;
  
}
.WhatsappButton img {
  width: 100%;  /* tamanho ideal do ícone */
  height: auto;
}

.WhatsappButton:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 25px rgba(37, 211, 102, 0.6);
}
