/* Footer */
.footer {
  min-height: 300px;
  padding: 40px 24px;
  color: #fff;
  position: relative;
  z-index: 50;
  margin-top: -1px;
  text-align: center;
  background-color: transparent;
  padding-top: 150px;
}
.footer::before {
  content: "";
  position: absolute;
  top: -260px;   /* altura que a grama sobe */
  left: 0;
  right: 0;
  height: 220px;

  background-image: url("/src/assets/footer/grama.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  pointer-events: none; /* importante para não atrapalhar cliques */
  z-index: -1;
}
.footer.with-background {
  background: url(../../assets/footer/backgrounds/footer-back.png) no-repeat center center;
  background-size:100% 100%;
}

/* Footer sem background (transparente) */
.footer.without-background {
  background: transparent;
}

.pages-ul {
  list-style: none;
  margin-top: 70px;
  display: inline-block;
  padding: 0;
}
.pages-li {
  display: inline-block;
  margin: 0 15px;
  color:#e0e0e0;
}
.pages-li:hover{
  color: #ffffff;
}
.social{
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.social img {
  width: 34px;
  height: auto;
}
.footer p{
  font-size: 14px;
}


