/* Reset e base */
* { box-sizing: border-box; margin: 0; padding: 0; }

/* Estrutura base e background */
html,body,#root { height: 100%; }
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #000;
}
html{
  scroll-behavior: smooth;
}

/* Wrappers globais */
.next-section {
  min-height: 100vh;
  padding: 60px 24px;
  background: url(./assets/background/body-back.png) no-repeat center center;
  background-size: 100% 100%;
  color: #fff;
  z-index: 1;
  position: relative;
  margin-top: -1px;
}